.sign-in {
  width: 24rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 840px) {
    margin: 2rem;
    margin-left: -30px;
  }

  .title {
    margin: 0.8rem 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 840px) {
      justify-content: flex-start;
      // &::first-child {
      //   margin-right: 0.5rem;
      // }
    }
  }
}
