.cart-dropdown {
  position: absolute;
  width: 15rem;
  height: 21.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border: 0.05rem solid black;
  background-color: white;
  top: 5.6rem;
  right: 2.5rem;
  z-index: 5;

  .cart-items {
    height: 15rem;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    .empty-message {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1rem;
      margin: auto;
      font-style: italic;
      font-weight: 500;
    }
  }

  button {
    margin-top: auto;
  }
}
