body {
  background: linear-gradient(to left, #46feff, hsl(126, 66%, 69%)) repeat-y;
  background-size: cover;
  font-family: 'Domine', serif;
  /* font-family: 'Open Sans', sans-serif; */
  padding: 0 2rem;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    padding: 5px;
  }
}
