.custom-button {
  min-width: 10rem;
  width: auto;
  height: 3rem;
  letter-spacing: 0.05rem;
  line-height: 3rem;
  padding: 0 2rem 0 2rem;
  font-size: 0.7rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  // font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 0.05rem solid black;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}
